@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="dn-cn">
   
    <a>
        <img class="dn-custom" src="~/images/dn.jpg" alt="210BANED Logo" />
        <b>Ung ho team nha 1 ly cafe :3</b>
    </a>
    
</div>
<style>
    .dn-cn{
        display: flex;
        align-items:center;
    }
    .dn-custom{
        margin-top: 100px;
        height :60%;
        width:60%;
    }
</style>

